<div class="bg-gray-200 p-4">
  <%= link_to("Edit Organisation", edit_organisation_path(@organisation.id), class: "bg-blue-500 text-white py-2 px-4 no-underline") %>
  <%= link_to "New Organisation", new_organisation_path, class: "bg-blue-500 text-white py-2 px-4 no-underline" %>
  <%= link_to "Show videos", videos_url, class: "bg-blue-500 text-white py-2 px-4 no-underline" %>
</div>
